* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

md-card {
  margin: 15px;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}

td,th {
  vertical-align: top;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.3em;
}